html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            background: rgb(171,193,21);
background: linear-gradient(90deg, rgba(171,193,21,1) 0%, rgba(250,243,8,1) 35%, rgba(235,255,89,1) 54%, rgba(255,85,0,1) 100%);
            }

            .personal-item {
  margin-left: auto;
  min-width: 15%;
}
.auth {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.login {
  display: flex;
  justify-content: space-between;
}
.auth-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #6f6f6f;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: 0.3s;
}
.forward{
  margin-left: 1200px;
  margin-top: 10px;

}

.table{
  border: 1px solid #eee;
  table-layout: fixed;
  width: 100%;
  margin-bottom: 20px;
}
.table th {
  font-weight: bold;
  padding: 5px;
  background: #efefef;
  border: 1px solid #dddddd;
}
.table td{
  padding: 5px 10px;
  border: 1px solid #eee;
  text-align: left;
}
.table tbody tr:nth-child(odd){
  background: #fff;
}
.table tbody tr:nth-child(even){
  background: #F7F7F7;
}

#cursor,
#aura {
  position: absolute;
  border-radius: 100%;
  transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
    0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
}

#cursor {
  width: 8px;
  height: 8px;
  background-color: rgba(224, 21, 51, 1);
  transform: scale(1);
}
#cursor.active {
  opacity: 0;
  transform: scale(0);
}

#aura {
  width: 46px;
  height: 46px;
  border: 1px solid rgba(224, 21, 51, 0.2);
  background-color: rgba(224, 21, 51, 0.027);
  transform: translate(5px, 5px);
}
#aura.active {
  border: 1.2px solid rgba(255, 255, 255, 0.33);
  transform: scale(1.3);
}

#aura.hidden,
#cursor.hidden {
  transform: scale(0.001);
}