

.center {
  width: 180px;
  height: 60px;
  position: absolute;
}

.btn {
  width: 120px;
  height: 50px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91C9FF;
  outline: none;
  transition: 1s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: #ffff00;
}

.btn:hover svg {
  stroke-dashoffset: -400;
}

.btn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}
.down{
    margin-top: 100px;
}